@model VatFramework.Models.DataObjects.Account.ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    ////Layout = "~/Views/Shared/_LoginLayout.cshtml";
    //Layout = "~/Views/Shared/_landing.cshtml";
    Layout = "~/Views/Shared/_Login.cshtml";

}

<!-- PAGE -->
<div class="page">
    <div class="">



        <!-- CONTAINER OPEN -->


        <div class="col col-login mx-auto mt-7">
            <div class="text-center">
                <img src="~/frscassets/images/logo2.png" />

            </div>
        </div>
        <div class="container-login100">
            <div class="wrap-login100 p-6">
                <form class="login100-form validate-form" asp-action="forgetpassword" asp-controller="account">

                    <span class="login100-form-title pb-5">
                        Forgot Password
                    </span>
                    <p class="text-muted">Enter the email address registered on your account</p>
                    <div class="wrap-input100 validate-input input-group" data-bs-validate="Valid email is required: ex@abc.xyz">
                        <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                            <i class="zmdi zmdi-email" aria-hidden="true"></i>
                        </a>


                        <input type="email" asp-for="Email" class="input100 border-start-0 ms-0 form-control" id="username" placeholder="Email address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="submit d-grid">
                        <button class="btn btn-primary" type="submit">
                            Send Password

                        </button>
                    </div>


                    <div class="text-center mt-4">
                        <p class="text-dark mb-0">Forgot It?<a class="text-primary ms-1" href="#">Send me Back</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--END PAGE -->